header {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
}

#nav-dropdown img {
  height: 30px;
}

#chapman-school {
  position: fixed;
  text-align: center;
  width: 90vw;
  bottom: 25px;
  margin: 0 5vw;
}
