.nav {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100vw;
  border: none;
}

#nav-dropdown img {
  height: 30px;
}

#chapman-school, #chapman-school-overlay {
  position: fixed;
  text-align: center;
  width: 80vw;
  bottom: 25px;
  margin: 0 10vw;
}

#grass {
  position: fixed;
  bottom: 0;
  left: 0;
}

#flocking-container {
  position: fixed;
  bottom: 0;
  margin: 0;
}

.bird-button {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
}
